<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/css/styles.css'> 
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>Welcome to my page here</p>
        <p>This is something interesting here now.</p>
        <div >{{description}}</div>
        </div>
        {{>footer}}
    </body>
</html>
