<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/css/styles.css'> 
    </head>
    <body>
        {{>header}}
        <div>{{title}}</div>
        <div>{{body}}</div>
    </body>
</html>
