<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/css/styles.css'> 
    <script src="/js/app.js" async></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p >{{description}}</p>
        <form class="location-form">
            <input type="text" placeholder="Location">
            <button type="submit">Search</button>
        </form>
        <p class="msg1"></p>
        <p class="msg2"></p>
        
        </div>
        {{>footer}}
    </body>
</html>
